@import url('https://fonts.googleapis.com/css?family=League+Script|Quicksand:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script');

.navbar{
  font-family: 'Quicksand', sans-serif;
  font-weight: bold !important;
}

a:hover{
  color: #FFBFB7 !important;
}

.logo {
  width: 15%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:2.5%;
}

.dropdown:hover>.dropdown-menu{
  display: block;
}

/*------BANNER START------*/
.banner {
  overflow-y: hidden;
  display: block;
  position: relative;
}

.banner > .banner-image {
  width:100%;
  height: 100%;
  display:block;
}

.execboard {
  font-family: 'Quicksand';
  font-size: 2.25em;
  color: #FFBFB7;
  text-align: center;
  margin-top:5%;
  font-weight: bold;
}

/* Header*/
h1{
	text-align: center;
  	font-size:2.0em !important;
  	color: #FFBFB7;
  	/*font-weight: bold;*/
  	font-family: 'Quicksand' !important;
}

p{
	font-family: 'Quicksand', sans-serif;
  	font-size:1.2em;
}

h2{
  	font-family: Quicksand !important;
  	font-size: 1.2em;
  	line-height: 1.5em;
  	color:#4d4d4d;
}


@media (max-width: 375px) {
	.title-padding{
		padding-bottom: 0.4em !important;
		text-align: left !important;
		font-size: 1.6em !important;
	}
	.subtitle-padding{
		padding-bottom:0em;
		font-size:1.3em !important;
	}
	.header-style{
		padding-bottom: 2.0em ;
		padding-top:2.0em;
	}
	.paragraph-style{
		font-size:1.1em !important;
	}
}
/*h4 {
  font-family: 'Petit Formal Script', cursive;
  font-size: 1.8em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 26.4%;
}
h5{
  font-family: Quicksand;
  font-size: 1.1em;
}*/

.leadershippage{
	margin-top: 0%!important;
}
.full-container{
	margin-right: -2000px;
	margin-left: -2000px;
}
.full-content{
	padding-left: 2000px;
	padding-right: 2000px;
}

.full-padding{
	padding-top: 0px;
	padding-bottom:0px;
}
.w3-container, .w3-panel{
	padding-right:20px;
	padding-left: 20px;
}

.nametag{
	padding-bottom: 5px;
	padding-top: 5px;
}

.photo-padding{
	padding-top: 16px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom:16px;
}

.quote{
	margin-bottom: 60px;
}
.second-line{
	padding-top: 8px;
}
@media (max-width: 375px) {
.row-mobile{
	padding-bottom: 0!important;
}
}

.w3-border{
	border-color: #FFFFFF !important;
	padding:7px !important;
}


/*---------------------------FOOTER START--------------------*/
.ginsystem-login {
  font-family: 'Quicksand', sans-serif;
}

.ginsystem-login input {
  width: 80%;
  /*font-size: 1em;*/
  font-size: 15px;
}

.gin-login {
  width: 80%;
  display: block;
  margin: 0px auto;
  font-size:15px;
  /*font-size: 1.25em;
  font-size:1.25vw;*/
  /*align-content: center;*/
  background-color: #f6a993; 
}

.forgot {
    font-size: 1rem;
    color: white;
    text-align: center;
    font-style: italic;
}

.username, .password {
  margin: 2.5% auto;
}



.ginsystem-login form {
  align-content: center;
  /*font-size: 1.25em;
  font-size:1.25vw;*/
  font-size:15px;
}



.footer-text{
  /*margin-top: 5%;*/
  color:white;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
 /* font-size: 1.25em;
  font-size:1.6vw;*/
  font-weight: bold;
  align-content: center;
}

.footer-text1{
  margin-top: 10%;
  color:white;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  /*font-size: 1em;
  font-size:1.6vw;*/
  font-weight: bold;
  align-content: center;
}

.footer-text1 > .gamma-lambda{
  /*font-size:1vw;*/
  font-size:15px;
  font-style: italic;
  margin-bottom: 4%;
}
.footer-text2{
 /* margin-top: 5%;*/
  margin-bottom: 1%;
  color:white;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
/*  font-size: 1.25em;
  font-size:2.1vw;*/
/*  font-weight: bolder;*/
  align-content: center;
}

.contact-us{
  /*margin-top: 3%;*/
  /*margin-bottom: 2vh;*/
  color:white;
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  /*font-size: 1.25em;
  font-size:2.1vw;*/
  /*font-weight: bolder;*/
  align-content: center;
  margin-bottom: 1%;
}

.contact{
  text-align: center;
}

.social{
  margin-bottom: 2%
}

.chapter {
  text-align: center;
  font-family:  'Quicksand', sans-serif;
 /* font-weight:500;*/
  color: white;
  font-size: 1.25em;
}

.vppr-email{
  margin-top: -2%;
  margin-bottom: 2vh;
  color:white;
  font-family: 'Quicksand', sans-serif;
  font-size:15px;
  /*font-size: 1.25em;
  font-size:1.5vw;*/
  font-weight: lighter;
  align-content: center;
}


.social-media {
  color: white;
  text-align: center;
}

.fa-facebook-f{
  margin-right: 10px;
  font-size:5vh; 
}

.ho:hover {
    opacity: 0.5 !important;
}

a:hover {
    color: #ff8778 !important;
    text-decoration-line: none;
}

.fa-instagram{
  margin-right: 10px;
  font-size:5vh; 
}

.fa-pinterest-p{
  margin-right: 10px;
  font-size:5vh; 
}

.fa-twitter{
  margin-right: 10px;
  font-size:5vh; 
  color: #ffffff;
}

.fa-tumblr{
  margin-right: 10px;
  font-size:5vh; 
}

.copy-right{
  text-align: center;
  color:#ffffff;
  font-size:10px;
  /*font-size:2vh;*/
  margin-top: 1%;
  font-family: 'Quicksand', sans-serif;
}

/* FOOTER END */





